<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
  <div class="main">
    <span>Rgeister Your accound.</span>
    <form action="/users/register" method="post" class="frm">
      <input type="text" class="name" placeholder="Fullname" name="fullname">
      <input type="email" class="email" placeholder="email" name="email">
      <input type="password" class="password" placeholder="password" name="password">
      <button>Register</button>
    </form>
  </div>
</body>

</html>